# --- Android Studio ---
*.iml
.gradle
.idea/
.local.properties

# --- Build/output ---
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# --- OS metadata ---
.DS_Store
*.swp
*.swo

# --- API keys/sensitive data ---
local.properties